.footer{
    background-color: rgb(223, 222, 222);
}
#contactButton{
    max-width: 25em;
}

#btnSubmit{
    appearance: none;
    border: none;
    background-color: rgb(160, 3, 3);
    padding: 0.25rem 0.5rem;
    color: white;
    border-radius: 5px;
    transition: all 250ms ease;
}